/*___________________________________CSS CADASTRO VACINA___________________________________*/

.bodycadastro{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.maincadastro{
  display: flex;
  width: 30vw;    
  align-items: center;
  justify-content: center;
  padding: 5% 3% 5% 3%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.botao_registrar {
  background-color: #04aaa5;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.botao_voltar{
  background-color: black;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.botao_registrar:hover {
  opacity: 1;
}

.tem_cadastro{
display: flex;
flex-direction: row;

}