/*                  CONFIGURAÇÕES GERAIS                 */
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

#main{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    min-height: 100vh;
}

/* HEADER CABEÇALHO E LOGO                 */

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    justify-content: space-evenly;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    background-color: whitesmoke;
}

header img{
    width: 384px;
    height: 184px;
}

header button{
    width: 5vw;
    height: 5vh;
    border-radius: 15px;
    background-color: rgb(23, 145, 200);
    margin-right: 30px;
    margin-bottom: 80px;
    padding: 15px;
    align-items: center;
}

/* SIDE BAR OU MENU DE NAVEGAÇÃO                                  */
.menu{
    border-radius: 10px;
    width: 10vw;
    height: 70vh;
    background-color: rgb(240, 240, 240);
    margin: 5px;
}

.sobre{
    padding-top: 20px;
    padding-left: 8px;
}

.sobre h1{
    font-size: 22px;
}

.sobre p{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 16px;
}

.sidebar div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 25px;
    height: 9vh;
}
.sidebar button{
    background-color: #04aaa5;
    opacity: 0.9;
    cursor: pointer;
    width: 110px;
    height: 40px;
    border-radius: 12px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    border-left: 0px;
}


/*     w3 codigo         */


.formulariocadastro {
    padding: 10px;
    background-color: white;
  }
.formulariocadastro h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}


/* ALTERAR PARA ESTÉTICA DE PAGINAÇÃO ESPECIFICA*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
  }

  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  /* ALTERAR PARA ESTÉTICA DE PAGINAÇÃO ESPECIFICA*/

  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #04aaa5;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }


/*____________________  CADASTRO PESSOAL ____________________*/


.containercadastro{
    width: 50vw;
    display: flex;
    padding-top: 2%;
    justify-content: start;
}

/*____________________               ____________________*/


