#posto {
    border-collapse: collapse;
    width: 100%;
  }
  
  #posto td{
    border: 2px outset grey;
    padding: 8px;
  }

  #posto tbody tr{
    background-color: whitesmoke;
  }

  #posto tr:hover {background-color: #ddd;}
  
  #posto th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #04AA6D; */
    color: white;
}

.delete-btn {
  color: red;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: #ffe6e6;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #ffcccc;
  color: white;
}
