<!-- alterar para ser uma tela de consulta -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <HEAD:view/usuario/index.html></HEAD:view>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">

    <link rel="stylesheet" type="text/css" href="/css/cadastro_vacina.css">


    <title>Cadastro de Vacinas</title>
</head>
<body>  
    <header>
        <div id="logo">
            <a><img src="../../img/Horizontal Logo Projeto PI fundo transp.png"></a>
        </div>
        <button>Sair</button>
    </header>

    <div id="main">
        <div class="menu">
            <div class="sidebar">
                <div>
                    <a><button>Perfil</button></a>
                </div>
                <div>
                    <button>Menu 2</button>
                </div>
                <div>
                    <button>Menu 3</button>
                </div>
                <div>
                    <button>Menu 4</button>
                </div>
            </div>
            <div class="sobre">
                <h3>Sobre</h3>
                <p>Sistema criado por meros mortais querendo ser deuses</p>

            </div>

        </div>

       <div class="containercadastro">
            <form name="cadastro_vacinas" action="grava_cadastrovacina.php" method="POST" enctype="multipart/form-data">
                <h1>Preencha seu cartão de vacinas.</h1><br>
                <div class="div_form">
                    <h4>Nome:</h4> <input type="text" name="nome"> <!-- APARECER O NOME DO USUARIO -->
                    <br>
                    <h4>Data de Nascimento:</h4> <input type="text" name="data_nasc">
                    <br>
                    <h4>Local ou Unidade de Vacinação:</h4> <input type="text" name="local">
                    <br>
                    <h4>Fabricante: </h4> <input type="text" name="fabricante_vacina">
                    <br>
                    <h4>Lote: </h4> <input type="text" name="lote_vacina">

                </div>
            
            </form>

       </div>

    </div>
    
</body>
</html>