<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/cadastro.css">
    
    <title>Tela de cadastro</title>
</head>
<body>
    <div class="bodycadastro">
        <div class="maincadastro">
            <div class="telacadastro">
                <a><img src=""></img></a>
                <form action="/action_page.php" method="post">
                    <div class="formulariocadastro">
                      <h1>Criar conta</h1>
                      <p>Por favor preencha o formulário para criar a conta.</p>
                      <hr>

                      <label for="email"><b>Nome Completo</b></label>
                      <input type="text" placeholder="Insira o Nome Completo" name="nome" id="nome" required>
                      
                      <label for="email"><b>CPF</b></label>
                      <input type="text" placeholder="Insira seu CPF" name="cpf" id="cpf" required>
                      
                      <label for="email"><b>Rua</b></label>
                      <input type="text" placeholder="Insira a Rua" name="rua" id="rua" required>

                      <label for="email"><b>Bairro</b></label>
                      <input type="text" placeholder="Insira o Bairro" name="bairro" id="bairro" required>

                      <label for="email"><b>Número da casa</b></label>
                      <input type="text" placeholder="Insira o Número da Casa" name="num_casa" id="num_casa" required>

                      <label for="email"><b>Cidade</b></label>
                      <input type="text" placeholder="Insira a cidade " name="cidade" id="cidade" required>
                      
                      <label for="email"><b>Número de Telefone</b></label>
                      <input type="text" placeholder="Insira o Número de Telefone" name="num_telefone" id="num_telefone" required>

                      <label for="email"><b>Email</b></label>
                      <input type="text" placeholder="Insira o Email" name="email" id="email" required>
                  
                      <label for="psw"><b>Senha</b></label>
                      <input type="password" placeholder="Digita sua Senha" name="senha" id="senha" required>
                  
                      <label for="psw-repeat"><b>Confirmar Senha</b></label>
                      <input type="password" placeholder="Repita sua Senha" name="conf_senha" id="conf_senha" required>
                      <hr>
                      <p>Criando sua conta você aceita com nossos <a href="#">Termos & Privacidade</a>.</p>
                  
                      <button type="submit" class="botao_registrar">Registar</button>
                    </div>
                    
                    <div class="container signin">
                      <p>Já possui uma conta? <a href="../tela_login.html">Entrar</a>.</p>
                    </div>
                  </form>
            </div>
        </div>
    </div>

    
</body>
</html>