<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    
    <title>Tela de cadastro</title>
</head>
<body>
    <div class="bodycadastro">
        <div class="maincadastro">
            <div class="telacadastro">
                <a><img src=""></img></a>
                <form action="/action_page.php">
                    <div class="formulariocadastro">
                      <h1>Criar conta</h1>
                      <p>Por favor preencha o formulário para criar a conta.</p>
                      <hr>
                  
                      <label for="email"><b>Email</b></label>
                      <input type="text" placeholder="Insira o Email" name="email" id="email" required>
                      
                      <label for="email"><b>CPF</b></label>
                      <input type="text" placeholder="Insira seu CPF" name="email" id="email" required>
                      
                      <label for="email"><b>Número de Telefone</b></label>
                      <input type="text" placeholder="Insira o Número de Telefone" name="email" id="email" required>
                  
                      <label for="psw"><b>Senha</b></label>
                      <input type="password" placeholder="Digita sua senha" name="psw" id="psw" required>
                  
                      <label for="psw-repeat"><b>Confirmar Senha</b></label>
                      <input type="password" placeholder="Repita sua senha" name="psw-repeat" id="psw-repeat" required>
                      <hr>
                      <p>Criando sua conta você aceita com nossos <a href="#">Termos & Privacidade</a>.</p>
                  
                      <button type="submit" class="registerbtn">Registar</button>
                    </div>
                    
                    <div class="container signin">
                      <p>Já possui uma conta? <a href="#">Sign in</a>.</p>
                    </div>
                  </form>
            </div>
        </div>
    </div>

    
</body>
</html>