<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/login.css">
</head>
<body>
<form>
  <div class="container">
    <div class="img_container">
      <img src="../img/vaccine.png">
    </div>
    <div class="div_cpf">
      <label for="cpf">CPF</label>
      <input type="text" placeholder="Informe seu CPF...">
    </div>
    <div class="div_senha">
      <label for="password">SENHA</label>
      <input type="password" placeholder="Informe sua SENHA..."> 
    </div>
    <div class="div_botao_login">
      <button type="submit" id="botao_login">Entrar</button>
    </div>

  </div>

</form>

</body>
</html>